<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf test</title>
</head>
<body>
<form method="post" enctype="multipart/form-data"
      action="/fileUp/upload" target="uploadFrame">
    <input type="file" name="file"/>
    <input type="submit" name="Submit" value="上传"/><br>
    <a href="/fileDownload/download?fileName=1.txt">1.txt</a>
    <a href="/fileDownload/download?fileName=CDS-FN-报销清单-苏磊-20200620">222</a>
</form>
</body>
</html>